<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">

<head>
<meta charset="ISO-8859-1" />
<title>Cadastro de Titulos</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap-datepicker.standalone.min.css" />
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#"> <img
			src="https://pt.freelogodesign.org/Content/img/logo-samples/flooop.png"
			width="70" height="70" alt="">
		</a>
	</nav>
	<form class="form-horizontal" method="POST" action="/titulos"
		th:object="${titulo}">

		<div class="alert alert-success"
			th:if="${!#strings.isEmpty(mensagem)}">
			<span>Cadastrado com Sucesso!</span>
		</div>

		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"> </span>
			</div>
		</div>
		<a type="button" class="btn btn-link" href="/titulos/ver"> <i
			class="fas fa-edit">VOLTAR</i>
		</a>


		<div class="form-group col-md-3">
			<label for="descricao">Descricao</label> <input type="text"
				class="form-control" placeholder="Descricao" th:field="*{descricao}">
		</div>
		<div class="form-group col-md-3">
			<label for="data">Data de Vencimento</label> <input type="text"
				class="form-control" placeholder="Data" th:field="*{dataVencimento}"
				data-provide="datepicker" data-date-format="dd/mm/yyyy"
				data-date-language="pt-BR" data-date-autoclose="true"
				data-date-today-highlight="true" />
		</div>
		<div class="form-group col-md-3"
			th:classappend="${#fields.hasErrors('valor')} ? invalid">
			<label for="valor">Valor</label> <input type="text"
				class="form-control js-currency"  placeholder="Valor" id="valor"
				th:field="*{valor}">
		</div>


		<div class="form-group col-md-3">
			<label for="email">Status</label>
				<select class="form-control"th:field="*{status}">
					<option th:each="status : ${StatusTitulo}" th:value="${status}" th:text="${status.descricao}" ></option>
				</select>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Salvar</button>
		</div>
	</form>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/cobranca.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
</body>
</html>