<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Cadastro de Titulos</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<meta charset="ISO-8859-1">
<title>Pesquisa de titulos</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
	 <a class="navbar-brand" href="#">
	   <img src="https://pt.freelogodesign.org/Content/img/logo-samples/flooop.png" width="70" height="70" alt="">
	 </a>
</nav>


	<div class="panel-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="text-center col-md-1">#</th>
					<th class="col-md-2">Descricao</th>
					<th class="col-md-2">Data de Vencimento</th>
					<th class="col-md-2">Valor</th>
					<th class="col-md-2">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						nada de novo
					</td>
				</tr>
			</tbody>
		</table> 
	</div>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>